<html>
    <h1>Adder form, Get Method</h1>
    <form method="GET" action="/cgi-bin/adder">
        add1:
        <input type="text" name="add1" />
        add2:
        <input type="text" name="add2" />
        <input type="submit" value="GET FORM">
    </form>

    <h1>Adder form, POST Method</h1>
    <form method="POST" action="/cgi-bin/adder">
        add1:
        <input type="text" name="add1" />
        add2:
        <input type="text" name="add2" />
        <input type="submit" value="POST FORM">
    </form>
</html>